*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/* body{
    position: relative;
} */
header{
    width: 100%;
    height: 94px;
    padding: 12px 100px ;
    background-color: #000000;
    position: fixed;
    top: 0;
    z-index: 2;
}
header h1{
    width: 70px;
    height: 70px;
    background-size: 100%;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    float: left;
    text-indent: -999999px;
    /* margin: 168px; */
}
header h1 a{
    display: block;
    width: 70px;
    height: 70px;
}


header nav{
    margin: 24px 168px;
}
header li{
    color: #ffffff;
    float: left;
    margin-right: 20px;
}
li a{
    color: #ffffff;
}
/* li a:visited{
    color: #f0bb0b
} */

main{
    /* padding: 94px; */
    padding-top: 144px;
    width: 100%;
    height: 100%;
    padding-left: 100px;
}

h2{
    color: #000000;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

    /* სოციალური ქსელების ლინკები */
.social{
    width: 50px;
    height: 100px;

    position:fixed;
    top: 212px;
    right: 0;
    z-index: 2;
    /* background-color: aqua; */
}
.social .facebook, .social .instagram{
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.social .facebook img, .social .instagram img{
    width: 100%;
}

     /* მუსიკის თრექები */
article{
    width: 300px;
    height: 270px;
    margin-top: 50px;
    /* background-color: aqua; */
    float: left;
    margin-right: 100px;
    margin-bottom: 22px;
}

article section{
    width: 100%;
    margin-top: 0;
    height: 244px;
    position: relative;
    border: 1px solid #000000;
    background-image: url(../img/sound.png);
    background-repeat: repeat-x;
    background-size: 25%;
    /* background-color: #07cf22; */
    background-position-y: 58px;
    
}
article section div{
    width: 50px;
    height: 50px;
    position: absolute;
    top:0;
    right:0;
    background-image: url(../img/like.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px dashed #000000;

}

article section h3{
    color: #000000;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 144px;
    margin-left: 12px;
}
article section p{
    color: #000000;
    margin: 12px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

}
article p{
    color: #000000;
    margin-top: 8px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}



footer{
    clear: both;
    width: 100%;
    height: 354px;
    background-color: #000000;
    padding-top: 26px;
}

footer div{
    width: 150px;
    height: 150px;
   margin: 0px auto;
}

footer img{
    width: 100%;
    height: 100%;
}

footer li, footer p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
footer p{
    color: #ffffff;
    margin-top: 50px; 
}

/* meore gverdi */
.pl{
    width: 280px;
    height: 360px;
    float: left;
}
.oreuli{
    margin-left: 10px;
    margin-right: 156px;
}
.pl h2{
    margin-bottom: 50px;
}
.pl li{
    margin-bottom: 8px;
}
.sounds{
    clear: both;
    width: 260px;
    height: 65px;
    margin: 46px auto;
    background-image: url(../img/sound.png);
    background-size: 25%;
}
.otxeuli{
    float: left;
    margin-right: 20px;
    margin-bottom: 92px;
    padding-left: 0;

}
.thanks{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-top: 62px;
    margin-bottom: 142px;
}

